# Created by .ignore support plugin (hsz.mobi)
.idea/
.git/
.DS_Store
app/.DS_Store
app/api/.DS_Store
docker/db/data/
docker/redis/data/
go-itom-api/.DS_Store
go-itom-api/*.log
go-itom-api/dist
python-itom-task/.DS_Store
python-itom-task/venv/
*.pyc
*.log
*.rdb
# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/web/tmp
/web/out-tsc

# Only exists if Bazel was run
/web/bazel-out

# dependencies
/web/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
