<h2 mat-dialog-title class="pop-head">
  复制实例组
  <button mat-mini-fab mat-dialog-close class="float-right" color="accent">
    <i class="material-icons mt0">close</i>
  </button>
</h2>
<mat-dialog-content>
  <form [formGroup]="myForm">
    <div class="field-row row">
      <mat-form-field appearance="outline" class="col col-8">
        <input matInput placeholder="实例组名称" formControlName="name" autocomplete="off">
        <mat-error *ngIf="myForm.get('name').errors && myForm.get('name').hasError('required')">实例组名称为必填项!</mat-error>
      </mat-form-field>
    </div>
    <div class="field-row row row-group">
      <mat-radio-group aria-label="Select an option"  class="col col-6" formControlName="type">
        <mat-radio-button value="200" class="mr-3" disabled>可复制</mat-radio-button>
        <mat-radio-button value="100" disabled>不可复制</mat-radio-button>
      </mat-radio-group>
    </div>
    <div formArrayName="instanceList">
      <div class="row instance-list-title">
        <div class="col col-4">原实例名称</div>
        <div class="col col-4">复制实例名称</div>
        <div class="col col-4">复制实例描述</div>
      </div>
      <ng-container *ngFor="let instanceItem of instanceListControl.controls; index as i" [formGroupName]="i">
        <div class="row">
          <div class="field-row row-group col col-4">
            <mat-form-field appearance="outline" class="w100" autocomplete="off">
              <input matInput formControlName="instance_name">
            </mat-form-field>
          </div>

          <div class="field-row row-group col col-4">
            <mat-form-field appearance="outline" class="w100">
              <input matInput placeholder="复制实例名称" formControlName="new_instance_name" autocomplete="off">
              <mat-error *ngIf="instanceItem.get('new_instance_name').errors && instanceItem.get('new_instance_name').hasError('required')">复制实例名称为必填项!</mat-error>
            </mat-form-field>
          </div>

          <div class="field-row row-group col col-4">
            <mat-form-field appearance="outline" class="w100">
              <input matInput placeholder="复制实例描述" formControlName="new_instance_description" autocomplete="off">
              <mat-error *ngIf="instanceItem.get('new_instance_description').errors && instanceItem.get('new_instance_description').hasError('required')">复制实例描述为必填项!</mat-error>
            </mat-form-field>
          </div>
        </div>
      </ng-container>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit" (click)="confirm()">复制</button>
</mat-dialog-actions>
