<h2 mat-dialog-title class="pop-head">
  修改密码
  <button mat-mini-fab mat-dialog-close class="float-right" color="accent">
    <i class="material-icons mt0">close</i>
  </button>
</h2>
<mat-dialog-content>
  <div class="card p-3">
    <form [formGroup]="myForm">
      <div class="row field-row">
        <mat-form-field appearance="outline" class="col col-6">
          <mat-label>请输入旧密码</mat-label>
          <input matInput placeholder="旧密码" formControlName="oldPassword" autocomplete="off" type="password">
          <mat-error *ngIf="myForm.get('oldPassword').errors && myForm.get('oldPassword').hasError('required')">旧密码为必填项!</mat-error>
        </mat-form-field>
      </div>
      <div class="row field-row">
        <mat-form-field appearance="outline" class="col col-6">
          <mat-label>请输入新密码</mat-label>
          <input matInput placeholder="新密码" formControlName="password1" autocomplete="off" type="password">
          <mat-error *ngIf="myForm.get('password1').errors && myForm.get('password1').hasError('required')">新密码为必填项!</mat-error>
        </mat-form-field>
      </div>
      <div class="row field-row">
        <mat-form-field appearance="outline" class="col col-6">
          <mat-label>再次输入新密码</mat-label>
          <input matInput placeholder="再次新密码" formControlName="password2" autocomplete="off" type="password">
          <mat-error *ngIf="myForm.get('password2').errors && myForm.get('password2').hasError('required')">新密码为必填项!</mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="confirm()" color="warn">提交</button>
</mat-dialog-actions>
