<div class="create-btn">
  <button mat-icon-button #trigger="matMenuTrigger"
          [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <i class="material-icons mt10">more_vert</i>
  </button>
  <mat-menu #menu="matMenu" class="menu-box">
    <button mat-menu-item (click)="createAccount()">创建账户</button>
  </mat-menu>
</div>

<div class="card w50">
  <div class="card-table">
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> 用户名 </th>
        <td mat-cell *matCellDef="let element">{{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> 角色 </th>
        <td mat-cell *matCellDef="let element">
          {{element.type}}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> 状态 </th>
        <td mat-cell *matCellDef="let element">
          {{element.status}}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="loginTime">
        <th mat-header-cell *matHeaderCellDef> 登陆时间 </th>
        <td mat-cell *matCellDef="let element"> {{element.loginTime}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="registerTime">
        <th mat-header-cell *matHeaderCellDef> 注册时间 </th>
        <td mat-cell *matCellDef="let element">{{element.registerTime}}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="operate">
        <th mat-header-cell *matHeaderCellDef> 操作 </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="resetPassword(element)">
            <i class="material-icons">vpn_key</i>
          </button>
          <button mat-icon-button color="primary" (click)="createAccount(element)">
            <i class="material-icons">border_color</i>
          </button>
          <!--<mat-menu #menu="matMenu" class="p-3">-->
            <!--<div (click)="$event.stopPropagation()">-->
              <!--<div class="field-row row">-->
                <!--<mat-form-field appearance="outline" class="col">-->
                  <!--<input matInput placeholder="请输入重置密码" type="password" autocomplete="off" [(ngModel)]="element.resetPws">-->
                <!--</mat-form-field>-->
              <!--</div>-->
              <!--<button mat-raised-button color="primary" >提交</button>-->
            <!--</div>-->
          <!--</mat-menu>-->
          <button mat-icon-button color="primary" (click)="delete(element)">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>
    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
