<a class="btn btn-space btn-primary md-trigger create-btn" [routerLink]="['../taskCreate']">创建任务</a>
<div class="card card-table w50">
  <table mat-table
         [dataSource]="dataSource" multiTemplateDataRows>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> 名称 </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="vb" color="primary" matTooltip="查看任务下命令">add</mat-icon>
        <a [routerLink]="['../taskEdit', element.params]" *ngIf="uid == element.userId">{{element.name}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> 描述 </th>
      <td mat-cell *matCellDef="let element">{{element.description}}</td>
    </ng-container>

    <ng-container matColumnDef="operate">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="run(element, 0)" matTooltip="运行任务">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="delete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail"
             [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <ul class="script-list">
            <li class="script-item"
                       *ngFor="let item of element.scriptList; index as i">
              <span class="col1">{{item.name}}</span>
              <span class="col2">
                  <button mat-icon-button color="primary" (click)="run(element, i)" matTooltip="运行命令">
                    <mat-icon>play_arrow</mat-icon>
                  </button>
              </span>
            </li>
          </ul>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
  <mat-paginator [length]="100"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
